.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  border: 1px solid black;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
}

.error {
  color: red;
}

.table-container {
  width: 50% !important;
}